<div class="col-xs-12">
    <h1 class="pull-left">Tarif</h1>
    <button class="btn btn-primary pull-left ml30 mt10" ui-sref="dashboard.tarifs.add">Add New</button>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tarifs <small>Sumary</small></h2>
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter by ..." ng-model="tarifFilter" >
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            
                <tarif-table-detail tarifs=tarifs>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="headings">
                                <th class="column-title" style="display: table-cell;">Description </th>
                                <th class="column-title" style="display: table-cell;">Price</th>
                                <th class="column-title" style="display: table-cell;">Billing Terms</th>
                                <th class="column-title" style="display: table-cell;">Public</th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr pull-right pr30">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer" ng-repeat="tarif in tarifs | filter: tarifFilter">
                                <td class=" ">{{tarif.description}}</td>
                                <td class=" ">{{tarif.price_per_minute}}</td>
                                <td class=" ">{{tarif.billing_terms}}</td>
                                <td class=" "><strong class="text-success" ng-if="tarif.visible">Public</strong><strong class="text-danger" ng-if="!tarif.visible">Private</strong></td>
                                <td class=" last">
                                    <a ui-sref="dashboard.numbers.tarif({tarifId: tarif._id})" class="btn btn-primary pull-right btn-xs">Asignations</a>
                                    <a ui-sref="dashboard.tarifs.detail({tarif: tarif._id})" class="btn btn-success pull-right btn-xs">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
.custom-table {
    height: 300px;
    overflow-y: scroll;
}

.custom-panel {
    padding: 0;
}

.custom-title {
    background-color: #ededed;
    color: #666;
    padding: 10;
    margin: 0;
    position: relative;
    top: 0;
}

.headings {
    font-size: 12px;
    font-weight: lighter;
}

.panel-heading {
    padding: 15;
    background: #fff;
}
</style>
