<html>
  <head>
    <script src="/js/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CallCaribe | </title>
    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>
    <link href="/build/css/custom.min.css" rel="stylesheet">



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="/js/angular/angular-sanitize.js"></script>
    <script src="js/ng-storage/ngStorage.min.js"></script>
    <script src="/js/angular-ui-router/router.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.js"></script>



    <script src="js/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <script src="/js/angular-functions/modules/moduleDefinition.js"></script>
    <script src="/js/angular-functions/services/authService.js"></script>
    <script src="/js/angular-functions/services/apiQuery.js"></script>
    <script src="/js/angular-functions/controllers/login.js"></script>
    <script src="/js/angular-functions/controllers/register.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/home/general.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/add.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/asign.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/general.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/list.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/tarif.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/general.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/add.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/list.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/list-number.js"></script>



  </head>
  <body class="nav-md" ng-app="did">

  {{{body}}}
   
  <link rel="stylesheet" href="/css/font-awesome.min.css">

</body>
</html>