  <script src="/js/angular-functions/modules/moduleDefinition.js"></script>
    <script src="/js/angular-functions/services/authService.js"></script>
    <script src="/js/angular-functions/services/apiQuery.js"></script>
    <script src="/js/angular-functions/controllers/login.js"></script>
    <script src="/js/angular-functions/controllers/register.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/home/general.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/add.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/asign.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/general.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/list.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/tarif.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/general.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/add.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/list.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/list-number.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/tarif/detail.js"></script>
    <script src="/js/angular-functions/controllers/dashboard/did/detail.js"></script>

  <body class="nav-md" ng-app="did">

  

  <ui-view></ui-view>
  
</body>