 <div class="container">
       <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center p30" style="color:white">CallCaribe Accont Activated!</h1>
          <div class="panel panel-login">
          	<div class="panel-body">
          		<div class="row">
          			<div class="p30">
		          		<h2 class="m0">Congraturations!</h2>
		          	</div>
		           	<div class="plr30 pb30">
		           		<p>Your account is now activated yout can now login and start enjoing our services</p>
		           	</div>
          		</div>
          	</div>
          	
		 	
			<div class="panel-heading" style="margin:0;padding:0">
              <div class="row" style="margin:0;padding:0">
                <div class="col-xs-12 tabs">
                  <a href="/#" id="login-form-link"><div class="login active  bg-blue text-center" style="border-radius: 0 0 5px 5px;">LOGIN</div></a>
                </div>
               
              </div>
            </div>

           
          </div>
        </div>
      </div>
    </div>
	<style>
		.p30{
			padding: 30px !important;
		}
		.plr30{
			padding-left: 30px !important;
			padding-right: 30px !important
		}
		.pb30{
			padding-bottom: 30px !important;
		}
		.m0{
			margin:0 !important;
		}
	</style>
    <link rel="stylesheet" href="/css/main.css">
