<div class="col-xs-12 tile_count x_panel ">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-phone"></i> Total Numbers</span>
        <div class="count text-center">{{info.total}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Asigned</span>
        <div class="count green text-center">{{info.asigned}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Unasigned</span>
        <div class="count red text-center">{{info.unasigned}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-phone"></i> Private</span>
        <div class="count text-center">{{info.private}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-phone"></i> Public</span>
        <div class="count text-center">{{info.public}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-phone"></i> Asignation Requests</span>
        <div class="count red text-center">{{info.request}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills pull-left">
                        <li role="presentation" class="active"><a ng-click="setDidList('all')">All <span class="badge">{{info.total}}</span></a></li>
                        <li role="presentation"><a ng-click="setDidList('free')">Free <span class="badge">{{info.unasigned}}</span></a></li>
                        <li role="presentation"><a ng-click="setDidList('asigned')">Asigned <span class="badge">{{info.asigned}}</span></a></li>
                        <li role="presentation"><a ng-click="setDidList('pending confirmation')">Pending Confirmation <span class="badge">{{info.request}}</span></a></li>
                        <li role="presentation"><a ng-click="setDidList('testing')">Testing</a></li>
                        <li role="presentation"><a ng-click="setDidList('private')">Private <span class="badge">{{info.private}}</span></a></li>
                        <li role="presentation"><a ng-click="setDidList('public')">Public <span class="badge">{{info.public}}</span></a></li>
                    </ul>
                    <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search pull-right" style="margin:0;padding:0">
                        <div class="input-group" style="margin:0;padding:0">
                            <input type="text" style="height:44px" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Filter by ..." ng-model="filter">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button" style="height:44px">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt30">
                <div class="col-xs-12">
                    <did-table-detail dids="dids" filter="filter" filter2='customFilter'>
                </div>
            </div>
        </div>
     
    </div>
</div>

<style>
.custom-table {
    height: 300px;
    overflow-y: scroll;
}

.custom-panel {
    padding: 0;
}

.custom-title {
    background-color: #ededed;
    color: #666;
    padding: 10;
    margin: 0;
    position: relative;
    top: 0;
}

.headings {
    font-size: 12px;
    font-weight: lighter;
}

.panel-heading {
    padding: 15;
    background: #fff;
}
</style>
