
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Numbers <small>Sumary</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                        <input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                </th>
                                <th class="column-title" style="display: table-cell;">Number </th>
                                <th class="column-title" style="display: table-cell;">Active Tarif</th>
                                <th class="column-title" style="display: table-cell;">Available Tarifs</th>
                                <th class="column-title" style="display: table-cell;">Asigned to</th>
                                <th class="column-title" style="display: table-cell;">Asignation Status</th>
                                <th class="column-title" style="display: table-cell;">Total Min</th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7" style="display: none;">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer" ng-repeat="did in dids">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                        <input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                </td>
                                <td class=" ">{{did.number}}</td>
                                <td class=" ">{{did.current_tarif}}</td>
                                <td class=" ">See</td>
                                <td class=" ">{{did.belongs_to}}</td>
                                <td class=" "><strong class="success" ng-if="did.asignation_confirmed">Assigned</strong><strong class="danger" ng-if="!did.asignation_confirmed">Pending Asignation</strong></td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>